<div class="wrapper">
    @if (sender != null) {
        <div class="content">
            @if (!isFirstMessage) {
                <app-bot-badge [initials]="senderName()[0].toUpperCase()"></app-bot-badge>
                
                <div class="right-side">
                    <div class="name-area">
                        <p class="sender-name">{{senderName()}}</p>
                        <p class="time-stamp">{{formattedTime}}</p>
                    </div>
                    <p class="text">{{message.content}}</p>
                </div>
            }
            @else {
                <p class="padded-text">{{message.content}}</p>
            }
        </div>
    }
    @else {
        <div class="error">
            <p>Error retrieving message</p>
        </div>
    }
</div>