.wrapper {
    display: flex;
    height: fit-content;
    margin-bottom: 5px;
    margin-left: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 3px 3px 0 0;
}

.wrapper:hover {
    background-color: rgb(75, 73, 73);
}

.right-side {
    margin-left: 10px;
}

.sender-name {
    color: #fbfbfa;
    font-weight: 500;
}

p {
    margin: 0;
}

.content {
    width: 90%;
    display: flex;
    align-items: start;
    margin: 0;
    padding: 2px 0 2px 40px;
    color: #dfdfd7;
}

.error {
    margin-left: 40px;
    color: #FCEAEA;
    background-color: #EF5350;
    width: fit-content;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.padded-text {
    margin-left: 50px;
}

.name-area {
    display: flex;
    align-items: center;
}

.time-stamp {
    font-size: 12px;
    color: rgb(139, 139, 139);
    margin-left: 8px;
    visibility: visible;
}

.wrapper:hover .time-stamp {
    visibility: visible;
}